@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-danger-rgb: 202, 81, 101;
  --bs-dark-rgb: 40, 27, 30  ; 
  --bs-info-rgb: 37, 150, 190;
  --bs-font-sans-serif:"Leckerli One", cursive;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.display-1{
  font-size: calc(1.625rem + 5vw);
  font-weight: 150;
} 

  body {
    background-image: url('https://github.com/user-attachments/assets/6821aefa-9a99-4677-bf74-740480d8e9ee');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: 📌, auto;
    font-weight: 100;
}

.cards-container {
    padding-top: 100px; /* el encabezado no se tapa */
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 250px; 
    transition: transform 0.6s ease, z-index 0s; 
    border: none; 
    background: transparent; 
    z-index: 1; 
    outline: none;
}

.card-img-top {
    border: none; 
    height: auto; 
}

.card-body {
    border: none;
}

.card:hover {
    transform: scale(1.05); 
    z-index: 10; 
}

.container:{
font-weight: 50;
}

.container-a:{
font-weight: 50;
}

